@page "/"

<h3>Welcome to Vinyl!</h3>

<p>
    Vinyl is your go-to destination for everything related to vinyl records.
    Explore our collection, engage in discussions, and enjoy the world of analog music.
</p>
